[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
youtube-transcript-api = "*"
langchain-community = "*"
langchain-openai = "*"
faiss-cpu = "*"
tiktoken = "*"
python-dotenv = "*"
pyngrok = "*"

[dev-packages]

[requires]
python_version = "3.9"
